<figure class="figure">
    <img src="https://th.bing.com/th/id/OIP.TMapqeVZ9hICKUPrNu0_PAHaLH?pid=ImgDet&rs=1" width="180px;" class="figure-img img-fluid rounded me-2" alt="Ian Somerhalder">
    <figcaption class="figure-caption">Ian Somerhalder</figcaption>
</figure>
<figure class="figure">
    <img src="https://th.bing.com/th/id/OIP.TMapqeVZ9hICKUPrNu0_PAHaLH?pid=ImgDet&rs=1" width="180px;" class="figure-img img-fluid rounded me-2" alt="Ian Somerhalder">
    <figcaption class="figure-caption">Ian Somerhalder</figcaption>
</figure>
<figure class="figure">
    <img src="https://th.bing.com/th/id/OIP.TMapqeVZ9hICKUPrNu0_PAHaLH?pid=ImgDet&rs=1" width="180px;" class="figure-img img-fluid rounded me-2" alt="Ian Somerhalder">
    <figcaption class="figure-caption">Ian Somerhalder</figcaption>
</figure>
<figure class="figure">
    <img src="https://th.bing.com/th/id/OIP.TMapqeVZ9hICKUPrNu0_PAHaLH?pid=ImgDet&rs=1" width="180px;" class="figure-img img-fluid rounded me-2" alt="Ian Somerhalder">
    <figcaption class="figure-caption">Ian Somerhalder</figcaption>
</figure>
<figure class="figure">
    <img src="https://th.bing.com/th/id/OIP.TMapqeVZ9hICKUPrNu0_PAHaLH?pid=ImgDet&rs=1" width="180px;" class="figure-img img-fluid rounded me-2" alt="Ian Somerhalder">
    <figcaption class="figure-caption">Ian Somerhalder</figcaption>
</figure>
<figure class="figure">
    <img src="https://th.bing.com/th/id/OIP.TMapqeVZ9hICKUPrNu0_PAHaLH?pid=ImgDet&rs=1" width="180px;" class="figure-img img-fluid rounded me-2" alt="Ian Somerhalder">
    <figcaption class="figure-caption">Ian Somerhalder</figcaption>
</figure>
<figure class="figure">
    <img src="https://th.bing.com/th/id/OIP.TMapqeVZ9hICKUPrNu0_PAHaLH?pid=ImgDet&rs=1" width="180px;" class="figure-img img-fluid rounded me-2" alt="Ian Somerhalder">
    <figcaption class="figure-caption">Ian Somerhalder</figcaption>
</figure>
<figure class="figure">
    <img src="https://th.bing.com/th/id/OIP.TMapqeVZ9hICKUPrNu0_PAHaLH?pid=ImgDet&rs=1" width="180px;" class="figure-img img-fluid rounded me-2" alt="Ian Somerhalder">
    <figcaption class="figure-caption">Ian Somerhalder</figcaption>
</figure>
<figure class="figure">
    <img src="https://th.bing.com/th/id/OIP.TMapqeVZ9hICKUPrNu0_PAHaLH?pid=ImgDet&rs=1" width="180px;" class="figure-img img-fluid rounded me-2" alt="Ian Somerhalder">
    <figcaption class="figure-caption">Ian Somerhalder</figcaption>
</figure>
