<div class="accordion" id="accordionExample">
    <div *ngFor="let review of movieRates; let i=index" class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button"
         type="button" 
         data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapseOne'+i"
           [attr.aria-controls]="'collapseOne'+i" 
          aria-expanded="true" 
         >
            <i class="bi bi-star"> </i> <b> {{review.rate}}/10 </b> Review #{{i+1}}
        </button>
      </h2>
      <div id="collapseOne{{i}}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>{{review.review}}</p>
            <p class="blackquote-footer">{{review.author}}</p>
            <p>
                <i>{{review.usefulCount}} out of {{review.totalCount}} found this useful</i>
            </p>
        </div>
      </div>
    </div>
</div>
