<app-navbar></app-navbar>
<h1>{{title | uppercase}}</h1>
<p>{{today}}</p>
<img [src]="image" [width]="imagewidth">
<br>
<span>selling price : {{sellingPrice}}  profit: {{sellingPrice | profit}}</span>

<p [class.sample]="isSampleApplied">this is a pragaraph to test class binding</p>
<p [class]="multiClasses">this is a pragaraph to test multiple classes binding</p>
<p [style]="multistyles">this is a pragaraph to test multiple styles binding</p>
<p [style.backgroundColor]="bgcolor">this is a pragaraph to test one style binding</p>


<app-details></app-details>
<app-details-reviews></app-details-reviews>